---
import { Icon } from 'astro-icon/components';
import Logo from './Logo.astro';
import ThemeButton from './ThemeButton.astro';

export interface Props {
    navItems: {
        label: string;
        link: string;
    }[];
    socials: {
        label: string;
        icon: string;
        activeIcon?: string;
        link: string;
    }[];
}

const { 
    navItems,
    socials,
} = Astro.props;
---
<header class="header-container flex flex-col sticky top-0 mx-auto max-w-6xl bg-transparent z-40 lg:z-0 py-3 lg:py-4 px-4 transition-all">
    <div class="header flex justify-between items-center lg:items-start">
        <div class="logo-background absolute left-0 top-0 w-[63px] h-[63px] block lg:hidden bg-transparent z-0"></div>
        <Logo />
        <div class="flex">
            <ThemeButton/>
            <button class="btn lg:hidden" type="button" data-menu-button aria-label="Toggle Menu" data-animate>
                <Icon name="material-symbols:menu"/>
            </button>
        </div>
    </div>
    <div class="menu hidden flex-col grow justify-center overflow-auto">
        <nav class="flex flex-col mx-auto">
            {
                navItems.map(item => 
                    <a class="btn px-6 py-4 text-lg" href={item.link} data-animate>
                        { item.label }
                    </a>
                )
            }
        </nav>
        <div class="socials p-4 mx-auto">
            {
                socials.map(social => 
                    <a class={`btn group`} href={social.link} aria-label={social.label} target="_blank" data-animate>
                        <Icon name={social.icon} class={social.activeIcon ? 'block group-hover:hidden' : ''}/>
                        { social.activeIcon && <Icon name={social.activeIcon} class="hidden group-hover:block"/> }
                    </a>
                )
            }
        </div>
    </div>
</header>
<script>
    import { animate, stagger, type AnimationPlaybackControls, type Easing } from 'motion';
    import { ANIMATIONS } from '../config'; 

    const body = document.querySelector('body');
    const header = document.querySelector('header');
    const menu = document.querySelector('header .menu');
    const navItems = document.querySelectorAll('header nav a');
    const button = document.querySelector('[data-menu-button]');
    const logoBackground = document.querySelector('.logo-background');
    let menuExpanded = false;
    const animationElements = menu?.querySelectorAll(`[${ANIMATIONS.attributeName}]`) ?? [];
    let animationControls: AnimationPlaybackControls;
    let hadBackground = false;

    header?.classList.add('bg-background');
    header?.classList.remove('bg-transparent');

    logoBackground?.classList.add('bg-background');
    logoBackground?.classList.remove('bg-transparent');

    button?.addEventListener('click', () => toggleMenu());

    navItems.forEach(item => item.addEventListener('click', () => toggleMenu()));

    const desktopQuery = window.matchMedia('(min-width: 1024px)');
    desktopQuery.addEventListener('change', (e) => {
        if (e.matches && menuExpanded) {
            toggleMenu();
        }
    });

    const toggleMenu = () => {
        menuExpanded = !menuExpanded;
        
        header?.classList.toggle('h-screen');
        header?.classList.toggle('expanded');
        menu?.classList.toggle('flex');
        menu?.classList.toggle('hidden');
        body?.classList.toggle('overflow-hidden');

        if (menuExpanded) {
            hadBackground = header?.classList.contains('bg-background') ?? false;
            header?.classList.add('bg-background');
            animationControls = animate(animationElements, { opacity: 1, transform: ANIMATIONS.transformTo }, { duration: ANIMATIONS.duration, delay: stagger(ANIMATIONS.stagger), ease: ANIMATIONS.easing as Easing });
            return;
        }

        if (!hadBackground) {
            header?.classList.remove('bg-background');
        }

        animationControls.stop();  
        animate(animationElements, { opacity: 0, transform: ANIMATIONS.transformFrom }, { duration: 0 });
    }
</script>