---
import Section from './Section.astro';

interface Props {
	id: string;
  highlight?: string;
  title: string;
  subtitle?: string;
  paragraphs?: string[];
  footer?: {
    icon?: string;
    iconClass?: string;
  };
}

const { 
  id,
  highlight,
  title,
  subtitle,
  paragraphs,
  footer,
} = Astro.props;
---
<Section {id} {footer}>
  { highlight && <h2 class="text-2xl tracking-wide" data-animate set:html={highlight} /> }
  <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter font-heading mb-1" data-animate set:html={title}/>
  { subtitle && <h2 class="text-2xl font-medium mb-4" data-animate set:html={subtitle} /> }
  { paragraphs && paragraphs.map(paragraph => <p class="text-xl" data-animate set:html={paragraph}/> ) }
</Section>